attrs==21.4.0+computecanada
certifi==2021.10.8+computecanada
charset-normalizer==2.0.12
click==8.0.3+computecanada
comet-ml==3.26.0
configobj==5.0.6+computecanada
dataclasses==0.8+computecanada
dulwich==0.20.32
everett==3.0.0
filelock==3.4.1
huggingface-hub==0.4.0
idna==3.3+computecanada
importlib-metadata==4.8.3
joblib==1.1.0+computecanada
jsonschema==3.2.0+computecanada
nltk==3.6.7
numpy==1.19.5+computecanada
nvidia-ml-py3==7.352.0+computecanada
packaging==21.3+computecanada
pyparsing==3.0.7+computecanada
pyrsistent==0.17.3+computecanada
PyYAML==5.3.1+computecanada
regex==2022.1.18
requests==2.27.1+computecanada
requests-toolbelt==0.9.1+computecanada
sacremoses==0.0.47
semantic_version==2.9.0+computecanada
sentencepiece==0.1.91+computecanada
six==1.16.0+computecanada
tokenizers==0.10.1+computecanada
torch==1.9.0+computecanada
tqdm==4.62.3+computecanada
transformers==4.16.2
typing_extensions==4.1.1
urllib3==1.26.8+computecanada
websocket_client==1.2.3+computecanada
wrapt==1.12.1+computecanada
wurlitzer==3.0.2+computecanada
zipp==3.6.0+computecanada